<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/context
					    http://www.springframework.org/schema/context/spring-context-4.0.xsd
					    http://www.springframework.org/schema/tx
					    http://www.springframework.org/schema/tx/spring-tx.xsd
					    http://www.springframework.org/schema/cache
					    http://www.springframework.org/schema/cache/spring-cache.xsd
">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:datasource.properties" />
    </bean>

    <bean id="defaultDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.user}" />
        <property name="password" value="${jdbc.password}" />
    </bean>



    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="defaultDataSource" />
        <property name="mapperLocations" value="classpath:mapper/**/*.xml" />
        <property name="configLocation" value="classpath:mybatis.xml" />
    </bean>


    <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.demo.springcmdline.dao.UserDao" />
        <property name="sqlSessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="logDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.demo.springcmdline.dao.LogDao" />
        <property name="sqlSessionFactory" ref="sessionFactory" />
    </bean>

    <!-- enable service components scan in package -->
    <context:component-scan base-package="com.demo.springcmdline.service" />

    <!-- enable transaction manager and @Transaction annotation aware -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="defaultDataSource" />
    </bean>

    <tx:annotation-driven />

    <!-- enable cache system -->
    <cache:annotation-driven />
    <!-- enable configuration annotated components scan in package, -->
    <!-- so we don't have to register redis related beans in the XML -->
    <context:component-scan base-package="com.demo.springcmdline.config" />

</beans>